.top
  .top__12
    .top__12__item
      = image_tag "pattern_54.jpg", size: "610 x 360"
      -# = image_tag "img_0148.jpg", size: "500 x 100"
    .top__12__title
      -# = image_tag "white_00060.jpg",size: "100 × 300"
      Portfolio

.main
  .main__top
    PROFILE
  .main__name
    .main__name__name1
      名前
    .main__name__name2
      甲斐優太
  .main__birthday
    .main__birthday__birthday1
      生年月日
    .main__birthday__birthday2
      1992/8/6
  .main__birthplace
    .main__birthplace__birthplace1
      出身地
    .main__birthplace__birthplace2
      宮崎県
  .main__Educational-background
    .main__Educational-background__Educational-background
      学歴
    .main__Educational-background__Educational-background1__1
      .main__Educational-background__Educational-background1__1
        高校：高千穂高校（2008/4〜2011/3）
      .main__Educational-background__Educational-background1__2
        専門学校：福岡医健専門学校（2011/4〜2015/3）
  .main__skill
    .main__skill__s-top
      スキル
    .main__skill__s-main
      .main__skill__s-main__front
        .main__skill__s-main__front__f-top
          フロントエンドサイド
        .main__skill__s-main__front__f-mozi
          基本的にはスクールと独学で学びました。
        .main__skill__s-main__front__f-the-details
          .main__skill__s-main__front__f-the-details__f-technology
            技術
          .main__skill__s-main__front__f-the-details__f-experience
            経験年数
          .main__skill__s-main__front__f-the-details__f-skill
            スキル
        .main__skill__s-main__front__f-s-html
          .main__skill__s-main__front__f-s-html__s-html
            HTML
          .main__skill__s-main__front__f-s-html__html-experience
            3ヶ月
          .main__skill__s-main__front__f-s-html__html-skill
            ★  ★  ☆  ☆  ☆
        .main__skill__s-main__front__f-s-css
          .main__skill__s-main__front__f-s-css__s-css
            CSS
          .main__skill__s-main__front__f-s-css__css-experience
            3ヶ月
          .main__skill__s-main__front__f-s-css__css-skill
            ★  ★  ☆  ☆  ☆
        .main__skill__s-main__front__f-s-js
          .main__skill__s-main__front__f-s-js__s-js
            JavaScript
          .main__skill__s-main__front__f-s-js__js-experience
            3ヶ月
          .main__skill__s-main__front__f-s-js__js-skill
            ★  ★  ☆  ☆  ☆
      .main__skill__s-main__server
        .main__skill__s-main__server__s-top
          サーバーサイド
        .main__skill__s-main__server__s-mozi
          基本的にはスクールと独学で学びました。
        .main__skill__s-main__server__s-the-details
          .main__skill__s-main__server__s-the-details__s-technology
            技術
          .main__skill__s-main__server__s-the-details__s-experience
            経験年数
          .main__skill__s-main__server__s-the-details__s-skill
            スキル
        .main__skill__s-main__server__s-s-ruby
          .main__skill__s-main__server__s-s-ruby__s-ruby
            Ruby
          .main__skill__s-main__server__s-s-ruby__ruby-experience
            3ヶ月
          .main__skill__s-main__server__s-s-ruby__ruby-skill
            ★  ★  ☆  ☆  ☆
        .main__skill__s-main__server__s-s-rails
          .main__skill__s-main__server__s-s-rails__s-rails
            Ruby on Rails	
          .main__skill__s-main__server__s-s-rails__rails-experience
            3ヶ月
          .main__skill__s-main__server__s-s-rails__rails-skill
            ★  ★  ☆  ☆  ☆
    .main__skill__s-main2
      .main__skill__s-main2__db
        .main__skill__s-main2__db__db-top
          DB
        .main__skill__s-main2__db__db-mozi
          基本的にはスクールと独学で学びました。
        .main__skill__s-main2__db__db-the-details
          .main__skill__s-main2__db__db-the-details__db-technology
            技術
          .main__skill__s-main2__db__db-the-details__db-experience
            経験年数
          .main__skill__s-main2__db__db-the-details__db-skill
            スキル
        .main__skill__s-main2__db__db-db-mysql
          .main__skill__s-main2__db__db-db-mysql__db-mysql
            mysql
          .main__skill__s-main2__db__db-db-mysql__mysql-experience
            3ヶ月
          .main__skill__s-main2__db__db-db-mysql__mysql-skill
            ★  ★  ☆  ☆  ☆
      .main__skill__s-main2__infrastructure-server
        .main__skill__s-main2__infrastructure-server__is-top
          インフラ・サーバー
        .main__skill__s-main2__infrastructure-server__is-mozi
          基本的にはスクールと独学で学びました。
        .main__skill__s-main2__infrastructure-server__is-the-details
          .main__skill__s-main2__infrastructure-server__is-the-details__is-technology
            技術
          .main__skill__s-main2__infrastructure-server__is-the-details__is-experience
            経験年数
          .main__skill__s-main2__infrastructure-server__is-the-details__is-skill
            スキル
        .main__skill__s-main2__infrastructure-server__is-is-aws
          .main__skill__s-main2__infrastructure-server__is-is-aws__is-aws
            AWS
          .main__skill__s-main2__infrastructure-server__is-is-aws__aws-experience
            3ヶ月
          .main__skill__s-main2__infrastructure-server__is-is-aws__aws-skill
            ★  ★  ☆  ☆  ☆




    .main__skill__5
      .main__skill__5__other-tools
        その他ツール
      .main__skill__5__qualification
        保有資格
  .main__portfolio
    成果物
.footer
  = link_to "https://twitter.com/@kaikai492", class: "footer__btn" do
    Twitter