.top
  Portfolio
.main
  自己紹介
  .main__name
    .main__name__name1
      名前
    .main__name__name2
      甲斐優太
  .main__birthday
    .main__birthday__birthday1
      生年月日
    .main__birthday__birthday2
      1992/8/6
.fooder
= link_to "https://twitter.com/", class: "contents__btn" do
  Twitter