.top
  .top__item
    -# = image_tag "img_0148.jpg",size: "100 × 300"
    = image_tag "img_0148.jpg", size: "500 x 100"
  .top__title
    Portfolio
.main
  .main__top
    自己紹介
  .main__name
    .main__name__name1
      名前
    .main__name__name2
      甲斐優太
  .main__birthday
    .main__birthday__birthday1
      生年月日
    .main__birthday__birthday2
      1992/8/6
  .main__birthplace
    .main__birthplace__birthplace1
      出身地
    .main__birthplace__birthplace2
      宮崎県
  .main__Educational-background
    .main__Educational-background__Educational-background1
      学歴
    .main__Educational-background__Educational-background2
.footer
  = link_to "https://twitter.com/@kaikai492", class: "footer__btn" do
    Twitter